DEV_MODE=1
DEV_HOST_PATH='http://localhost'
DEV_PORT=8081
DEV_CONNECTOR_HOST='http://localhost'


## OAUTH 2 secrets
# @see http://tableau.github.io/webdataconnector/docs/api_ref.html#webdataconnectorapi.authpurposeenum
# DESKTOP
EPHEMERAL_CLIENT_ID=
EPHEMERAL_CLIENT_SECRET=

# SERVER
ENDURING_CLIENT_ID=
ENDURING_CLIENT_SECRET=