.vertical-center {
     align-items: center;
     text-align: center;
     background-color: white;
}

.logodiv {
    margin-bottom: 10px;
}

#spinner,
#content,
#signIn {
    display:none;
}

[data-display="spinner"] #spinner{
    display:inline-block;
}

[data-display="content"] #content{
    display:inline-block;
}

[data-display="signIn"] #signIn{
    display:inline-block;
}